{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1>Capture Image</h1>
  <div class="row">
    <div class="col-md-6">
      <!-- Webcam video stream -->
      <video id="video" width="100%" autoplay></video>
      <button id="capture-btn" class="btn btn-primary mt-3">
        Capture Image
      </button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Last 3 Captured Images</h3>
        <div id="preview-container" class="row">
          <div class="col-md-4">
            <img id="preview-1" style="display: none" alt="Preview 1" />
            <img id="preview-2" style="display: none" alt="Preview 2" />
            <img id="preview-3" style="display: none" alt="Preview 3" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block script %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}{% endblock %}
